FLOW2
[{"id":"5511c5f6.a8772c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5ef51fcc.a852","type":"inject","z":"5511c5f6.a8772c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":120,"wires":[["1454424c.528a1e"]]},{"id":"1454424c.528a1e","type":"function","z":"5511c5f6.a8772c","name":"Payload","func":"msg.headers={\n    deviceKey:\"a6IwNxPE6WnA6ExZ\"  \n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["4a28c3c7.c4b9bc","4189bfef.d24b8"]]},{"id":"4a28c3c7.c4b9bc","type":"http request","z":"5511c5f6.a8772c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DBeR0ex0/datachannels/Temp/datapoints.csv","tls":"","x":520,"y":120,"wires":[["e307e7a.ce17518"]]},{"id":"4189bfef.d24b8","type":"http request","z":"5511c5f6.a8772c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DBeR0ex0/datachannels/Humi/datapoints.csv","tls":"","x":510,"y":200,"wires":[["97110a84.2e4128"]]},{"id":"e307e7a.ce17518","type":"debug","z":"5511c5f6.a8772c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":120,"wires":[]},{"id":"97110a84.2e4128","type":"debug","z":"5511c5f6.a8772c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":200,"wires":[]}]