FLOW5
[{"id":"8cd7fa40.91a858","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"1cf5026a.dea04e","type":"http in","z":"8cd7fa40.91a858","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["114d0bdd.6010d4","92ee9f58.8b01e"]]},{"id":"114d0bdd.6010d4","type":"function","z":"8cd7fa40.91a858","name":"Set to 1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["2864be57.ed3052"]]},{"id":"2864be57.ed3052","type":"rpi-gpio out","z":"8cd7fa40.91a858","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":500,"y":300,"wires":[]},{"id":"92ee9f58.8b01e","type":"function","z":"8cd7fa40.91a858","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["8c2e41c3.82684","81b1d606.4dac18"]]},{"id":"8c2e41c3.82684","type":"http response","z":"8cd7fa40.91a858","name":"","statusCode":"","headers":{},"x":770,"y":100,"wires":[]},{"id":"81b1d606.4dac18","type":"debug","z":"8cd7fa40.91a858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":340,"wires":[]},{"id":"f431e3f9.26c64","type":"http in","z":"8cd7fa40.91a858","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":164,"y":422,"wires":[["e0959a04.66d128","cfb8c879.2f3008"]]},{"id":"e0959a04.66d128","type":"function","z":"8cd7fa40.91a858","name":"Clear to 0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["2864be57.ed3052"]]},{"id":"cfb8c879.2f3008","type":"function","z":"8cd7fa40.91a858","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":500,"wires":[["8c2e41c3.82684","81b1d606.4dac18"]]}]