FLOW3
[{"id":"fa8e62c6.fd941","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"65e209e4.153478","type":"inject","z":"fa8e62c6.fd941","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["c58a387e.eb2778"]]},{"id":"c58a387e.eb2778","type":"function","z":"fa8e62c6.fd941","name":"Payload","func":"msg.headers={\n    deviceKey: \"a6IwNxPE6WnA6ExZ\"  \n};\nmsg.payload=\"Temp,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["699c270c.f353b8"]]},{"id":"699c270c.f353b8","type":"http request","z":"fa8e62c6.fd941","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DBeR0ex0/datapoints.csv","tls":"","x":520,"y":120,"wires":[["84c654bb.9bec68"]]},{"id":"84c654bb.9bec68","type":"debug","z":"fa8e62c6.fd941","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]}]