FLOW4
[{"id":"cbd24ff2.60fc3","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"a713311d.fd2a9","type":"http in","z":"cbd24ff2.60fc3","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["98ecb04e.40512"]]},{"id":"aff81bb7.7e1f98","type":"http response","z":"cbd24ff2.60fc3","name":"","statusCode":"","headers":{},"x":500,"y":160,"wires":[]},{"id":"77724a46.9640f4","type":"debug","z":"cbd24ff2.60fc3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":220,"wires":[]},{"id":"b9b60c39.9774","type":"rpi-gpio in","z":"cbd24ff2.60fc3","name":"GPIO4","pin":"7","intype":"down","debounce":"25","read":true,"x":140,"y":380,"wires":[["7f2d9268.7f835c"]]},{"id":"7f2d9268.7f835c","type":"function","z":"cbd24ff2.60fc3","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["77724a46.9640f4"]]},{"id":"98ecb04e.40512","type":"function","z":"cbd24ff2.60fc3","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\")\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["aff81bb7.7e1f98","77724a46.9640f4"]]}]